body{
    height: 900px;
    background: sienna;
}
.main{
    display: flex;
   flex-wrap: wrap;

}
.main-for-user{
    width: 49%;
    background: antiquewhite;
    border-radius: 10px;
    margin: 7px;
}
.user, a{
display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;

}
a{
    border-radius: 10px ;
    background: burlywood;
    width: 25%;
    margin-left: 37%;
    color: white;
}
h1{
    font-size: 30px;
    color: white;
    text-align: center;
}